@charset "ISO-8859-1";

body{
	padding:0;
	margin:0;
	
}

.form-login{
	background-color:#fff;
	max-width: 350px;
	padding: 15px;
	margin: 0 auto;
	border-radius: 5px;
}

.form-login h2{
	text-align:center;
}

.form-login #forget{
    text-align: center
}

.form-login #create{
	margin-top:15px;
	background-color: #4DAADC;
	color: #fff;
}

.img-p{
	width:150px;
	height: 150px;
	margin: 0 auto;
}

.form-group{
	font-size:13px;
}
.edit{	
	border-top:none;
	border-left:none;
	border-right:none;
	width:200px;
}
.edit:focus{
	outline:0;
	border-bottom:1px solid #4D90FE;
}

.file{
	border:none;
	font-size:13px;
	width:auto;
}

