@charset "ISO-8859-1";
body{
	padding:0;
	margin:0;
	
}

.form-login{
	background-color:#fff;
	max-width: 350px;
	padding: 15px;
	margin: 0 auto;
	border-radius: 5px;
}

.form-login h2{
	text-align:center;
}

.form-login #forget{
    text-align: center
}

.form-login #create{
	margin-top:15px;
	background-color: #4DAADC;
	color: #fff;
}

.img-p{
	width:150px;
	height: 150px;
	margin: 0 auto;
}

