<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="ISO-8859-1">
	<title>Cadastro</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="./css/style.css" media="screen"/>
	<!-- Fonte Roboto -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet"/>
</head>

<body>
	<div class="container">
		<form method="post" class="form-login">
			<h2>Sign up</h2>
			<input type="text" id="inputNome" name="name" class="form-control" placeholder="Nome Completo"/>
			<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Senha"/>
			<input type="text" id="inputPassword" name="confimPassword" class="form-control" placeholder="Confirme a senha"/>
			<input type="email" id="inputEmail"  name="email" class="form-control" placeholder="Email"/>
			<input type="submit" id="create" class="btn btn-lg btn-primary btn-block" value="Criar conta" />
		</form>
		
	</div>
</body>
</html>