<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	    <title>Home - YourPhysio</title>
	    
	    <!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"/>	
		<link rel="stylesheet" type="text/css" href="./css/offcanvas.css" media="screen"/>
		
	    <!-- Fonte Roboto -->
	    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet"/>
	    <!-- navbar menu -->
	    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	    
	    <!-- JAVASCRIPT E JQUERY -->
	    <script type="text/javascript" src="./js/offcanvas.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </head>
	<body>
		<div id="main" class="bg-primary navbar">
			<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
	  				aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon" onclick="openNav()"></span>
			</button>
			<nav class="navbar navbar-expand">
				<a class="navbar-brand navbar-collapse text-white" href="home">YourPhysio</a>
			</nav>
		</div>
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<!-- nome do usuario pelo autenticador do thymeleaf -->
			<div><span sec:authentication="principal.name"></span></div>
			<a class="nav-link" href="profile"><i class="material-icons mr-3">face</i>Perfil</a>
			<a class="nav-link" href="#"><i class="material-icons mr-3">fitness_center</i>Exercícios</a>
			<!-- TODO fazer um link com submmit e POST ou estilizar o botao para que se pareca com os links acima -->
			<form id="form_submit_logout" action="/logout" method="post" class="navbar-form navbar-right">
				<button type="submit" class="btn btn-link">
					<i class="material-icons mr-3">exit_to_app</i>Sair
				</button>
			</form>
		</div>
		<div class="container-fluid text-center bg-light bg-3">
			<div class="row content">
				<div class="col-sm-12 text-left">
					<h4 class="text-center mt-3 text-muted">Toque na parte do corpo
						dolorida</h4>
					<div class="text-center">
						<img src="./imgs/body_front.png" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>