<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="ISO-8859-1">
		<title>Entrar</title>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" media="screen">
		<link rel="stylesheet" type="text/css" href="./css/style.css" media="screen">
		<link rel="stylesheet" type="text/css" href="./css/signin.css" media="screen">
		
		<!-- Fonte Roboto -->
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet"/>
	</head>
	
	<body class="text-center">
		<div class="container">
			<form class="form-signin"  method="post" accept-charset="utf-8" >
				<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
				<input type="email" id="inputEmail" name="username" placeholder="Email" class="form-control" required autofocus>
				<input type="password" id="inputPassword" name="password" placeholder="Senha" class="form-control" required>
				<input type="checkbox" class="chkbox" id="remember"> Lembrar minha senha
				<input type="submit" id="login" class="btn btn-lg btn-primary btn-block" value="Entrar">
				
				<!-- <input type="button" id="loginGoogle" class="btn btn-lg btn-primary btn-block" value="Facebook" /> -->
				<a class="btn btn-primary btn-block" href="#" role="button" >Entra com o Google</a>
				<a href="#" id="forget">Esqueci minha senha </a> <a href="cadastro" id="forget">Criar conta</a>
			</form>		
		</div>
	
	</body>
</html>